<ion-header>
  <ion-toolbar>
    <ion-title><ion-text>
      <h3 style="color: rgb(0, 225, 255)">About</h3>
  </ion-text></ion-title>
    <ion-buttons slot="start">
      <ion-button shape="round" size="medium" color="primary" (click)="onhome()"><ion-icon name="home-sharp"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col style="text-align: center">
      <ion-row>
        Notre Dame High School is the first all girl's school to have an esports team.
      </ion-row> 
      <ion-row>
        We received a grant in the spring of 2019, and started official practice fall of 2019.
      </ion-row>
      <ion-row>
        Our team participates in HSEL, and decided to create our own league for St. Louis.
      </ion-row>
       <ion-row>
        Thank you for participating in our league!
       </ion-row>
    </ion-col>
  </ion-grid>

</ion-content>
