<ion-header>
  <ion-toolbar>
    <ion-title><ion-text>
      <h3 style="color: rgb(0, 225, 255)">About</h3>
  </ion-text></ion-title>
    <ion-buttons slot="start">
      <ion-button shape="round" size="medium" color="primary" (click)="onhome()"><ion-icon name="home-sharp"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col style="text-align: center">
      <ion-row>
        Notre Dame High School is the first all girl's school to have an esports team.
        We received a grant in the spring of 2019, and started official practice fall of 2019.
        Our team participates in HSEL, and decided to create our own league for St. Louis.
        Thank you for participating in our league!
      </ion-row>
    </ion-col>
  </ion-grid>
<ion-img src="https://i.ytimg.com/vi/rER3s38sL54/maxresdefault.jpg"></ion-img>
<ion-grid>
  <ion-col>
    <ion-row> </ion-row>
  </ion-col>
</ion-grid>
<div class="list" style="text-align: center">
  <a class="item" href="#" onclick="window.open('http://www.ndhs.net/s/999/bp18/interior.aspx?sid=999&gid=1&pgid=1442&cid=2916&ecid=2916&crid=0&calpgid=483&calcid=1140', '_system', 'location=yes'); return false;">
  NDHS Website</a>
</div>
</ion-content>
