<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img style="width: 32px; height:32px;" src="http://www.clker.com/cliparts/f/V/U/9/k/f/overwatch-logo-for-milling-v3.svg.hi.png"></ion-img>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-text>
    <h3 style="color: rgb(0, 225, 255); text-align: center">Welcome to *name of league*!</h3>
</ion-text>


  <ion-img style="width: 326px; height:300px;" src="http://bloximages.newyork1.vip.townnews.com/stltoday.com/content/tncms/assets/v3/editorial/9/5c/95ca6848-c7d0-11e1-bb4d-001a4bcf6878/4ff78d2581fd8.image.jpg"></ion-img>

</ion-content>

