<ion-header>
  <ion-toolbar>
    <ion-title><ion-text>
      <h3 style="color: rgb(0, 225, 255)">Connect</h3>
  </ion-text></ion-title>
    <ion-buttons slot="start">
      <ion-button shape="round" size="medium" color="primary" (click)="onhome()"><ion-icon name="home-sharp"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text style="text-align: center">
    <h4 style="color: rgb(255, 196, 0)">Discord</h4>
    <h5 style="color: rgb(126, 138, 139)">
    <div class="list">
      <a class="item" href="#" onclick="window.open('https://discord.gg/t79VBc', '_system', 'location=yes'); return false;">
      join here!</a>
    </div>
    </h5>
    <div>
      <ion-img style="width: 32px; height:32px;" class="center" src="https://seeklogo.com/images/D/discord-logo-134E148657-seeklogo.com.png"></ion-img>
    </div>
    <h4>------------------------------------</h4>
    </ion-text>
  <ion-text style="text-align: center">
    <h4 style="color: rgb(255, 196, 0)">NDHS Coach</h4>
    <h5 style="color: rgb(126, 138, 139)">email@email.net</h5>
    <h4>------------------------------------</h4>
    </ion-text>
  <ion-text style="text-align: center">
    <h4 style="color: rgb(255, 196, 0)">NDHS Captains</h4>
    <h5 style="color: rgb(126, 138, 139)">cdevlieger@ndhs.net</h5>
    <h5 style="color: rgb(126, 138, 139)">email2@email.com</h5>
    <h4>------------------------------------</h4>
    </ion-text>
</ion-content>
