<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-text>
      <h3 style="color: rgb(0, 225, 255)">Schedule</h3>
  </ion-text>
  </ion-title>
    <ion-buttons slot="start">
      <ion-button shape="round" size="medium" color="primary" (click)="onhome()"><ion-icon name="home-sharp"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text style="text-align: center">
    <h4 style="color: rgb(255, 196, 0)">Wednesday 4/15</h4>
    <h5 style="color: rgb(126, 138, 139)">Team 1 vs. Team 2</h5>
    <h5 style="color: rgb(126, 138, 139)">5:00 pm</h5>
    <div>
      <ion-img style="width: 32px; height:32px;" class="center" src="http://www.clker.com/cliparts/f/V/U/9/k/f/overwatch-logo-for-milling-v3.svg.hi.png"></ion-img>
    </div>
    <h4>------------------------------------</h4>
  </ion-text>
  <ion-text style="text-align: center">
    <h4 style="color: rgb(255, 196, 0)">Wednesday 4/22</h4>
    <h5 style="color: rgb(126, 138, 139)">Team 1 vs. Team 2</h5>
    <h5 style="color: rgb(126, 138, 139)">5:00 pm</h5>
    <div>
      <ion-img style="width: 32px; height:32px;" class="center" src="http://www.clker.com/cliparts/f/V/U/9/k/f/overwatch-logo-for-milling-v3.svg.hi.png"></ion-img>
    </div>
    <h4>------------------------------------</h4>
  </ion-text>
  <ion-text style="text-align: center">
    <h4 style="color: rgb(255, 196, 0)">Wednesday 4/29</h4>
    <h5 style="color: rgb(126, 138, 139)">Team 1 vs. Team 2</h5>
    <h5 style="color: rgb(126, 138, 139)">5:00 pm</h5>
    <div>
      <ion-img style="width: 32px; height:32px;" class="center" src="http://www.clker.com/cliparts/f/V/U/9/k/f/overwatch-logo-for-milling-v3.svg.hi.png"></ion-img>
    </div>
    <h4>------------------------------------</h4>
  </ion-text>
</ion-content>
