<ion-header>
  <ion-toolbar>
    <ion-title>Schedule</ion-title>
    <ion-buttons slot="start">
      <ion-button shape="round" size="medium" color="primary" (click)="onhome()"><ion-icon name="home-sharp"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-text>
  here calendar
</ion-text>
<ion-grid>
  <ion-row>
    <ion-col>
      Monday
    </ion-col>
    <ion-col>
      Tuesday
    </ion-col>
    <ion-col>
      Wednesday
    </ion-col>
    <ion-col>
      Thursday
    </ion-col>
    <ion-col>
      Friday
    </ion-col>
    <ion-col>
      Saturday
    </ion-col>
    <ion-col>
      Sunday
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
