<ion-header>
  <ion-toolbar>
    <ion-title> <ion-text>
      <h3 style="color: rgb(0, 225, 255)">My Team</h3>
  </ion-text></ion-title>
    <ion-buttons slot="start">
      <ion-button shape="round" size="medium" color="primary" (click)="onhome()"><ion-icon name="home-sharp"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text style="text-align: center">
    <h4 style="color: rgb(255, 196, 0)">Captain</h4>
    <h5 style="color: rgb(126, 138, 139)">name*</h5>
    <h5 style="color: rgb(126, 138, 139)">Support</h5>
    <div class="ion-margin" style="margin-left: 147px">
      <ion-img style="width: 32px; height:32px;" src="http://www.clker.com/cliparts/f/V/U/9/k/f/overwatch-logo-for-milling-v3.svg.hi.png"></ion-img>
    </div>
    <h4>------------------------------------</h4>
    </ion-text>
  <ion-text style="text-align: center">
    <h4 style="color: rgb(255, 196, 0)">Player1</h4>
    <h5 style="color: rgb(126, 138, 139)">name</h5>
    <h5 style="color: rgb(126, 138, 139)">Support</h5>
    <div class="ion-margin" style="margin-left: 147px">
      <ion-img style="width: 32px; height:32px;" src="http://www.clker.com/cliparts/f/V/U/9/k/f/overwatch-logo-for-milling-v3.svg.hi.png"></ion-img>
    </div>
    <h4>------------------------------------</h4>
    </ion-text>
  <ion-text style="text-align: center">
    <h4 style="color: rgb(255, 196, 0)">Player2</h4>
    <h5 style="color: rgb(126, 138, 139)">name</h5>
    <h5 style="color: rgb(126, 138, 139)">Tank</h5>
    <div class="ion-margin" style="margin-left: 147px">
      <ion-img style="width: 32px; height:32px;" src="http://www.clker.com/cliparts/f/V/U/9/k/f/overwatch-logo-for-milling-v3.svg.hi.png"></ion-img>
    </div>
    <h4>------------------------------------</h4>
    </ion-text>
  <ion-text style="text-align: center">
    <h4 style="color: rgb(255, 196, 0)">Player3</h4>
    <h5 style="color: rgb(126, 138, 139)">name</h5>
    <h5 style="color: rgb(126, 138, 139)">Tank</h5>
    <div class="ion-margin" style="margin-left: 147px">
      <ion-img style="width: 32px; height:32px;" src="http://www.clker.com/cliparts/f/V/U/9/k/f/overwatch-logo-for-milling-v3.svg.hi.png"></ion-img>
    </div>
    <h4>------------------------------------</h4>
    </ion-text>
  <ion-text style="text-align: center">
    <h4 style="color: rgb(255, 196, 0)">Player4</h4>
    <h5 style="color: rgb(126, 138, 139)">name</h5>
    <h5 style="color: rgb(126, 138, 139)">Damage</h5>
    <div class="ion-margin" style="margin-left: 147px">
      <ion-img style="width: 32px; height:32px;" src="http://www.clker.com/cliparts/f/V/U/9/k/f/overwatch-logo-for-milling-v3.svg.hi.png"></ion-img>
    </div>
    <h4>------------------------------------</h4>
    </ion-text>
  <ion-text style="text-align: center">
    <h4 style="color: rgb(255, 196, 0)">Player5</h4>
    <h5 style="color: rgb(126, 138, 139)">name</h5>
    <h5 style="color: rgb(126, 138, 139)">Damage</h5>
    <div class="ion-margin" style="margin-left: 147px">
      <ion-img style="width: 32px; height:32px;" src="http://www.clker.com/cliparts/f/V/U/9/k/f/overwatch-logo-for-milling-v3.svg.hi.png"></ion-img>
    </div>
    <h4>------------------------------------</h4>
    </ion-text>
  <ion-text style="text-align: center">
    <h4 style="color: rgb(255, 196, 0)">Player6</h4>
    <h5 style="color: rgb(126, 138, 139)">name</h5>
    <h5 style="color: rgb(126, 138, 139)">Flex</h5>
    <div class="ion-margin" style="margin-left: 147px">
      <ion-img style="width: 32px; height:32px;" src="http://www.clker.com/cliparts/f/V/U/9/k/f/overwatch-logo-for-milling-v3.svg.hi.png"></ion-img>
    </div>
    <h4>------------------------------------</h4>
    </ion-text>
</ion-content>
